body {
    border: 2px solid red;
    margin: 1em auto;
    padding: 1em;
    width 50em;
  }
.elvis {
      color: purple;
      font-size: 2em;
     }
  h2 {
      color: orange
     }
